form{
   height: 60vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

form input{
   width: 60%;
   height: 1.5rem;
   font-size: 1.3rem;
   margin: 0.5rem 0;
}
form button {
   width: 40%;
   height: 2rem;
   font-size: 1.3rem;
   margin-top: 0.5rem;
}